<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>模拟社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-theme.min.css"/>
    <style type="text/css">
        .media-object{
            width: 2.5vw;
            height: 4.5vh;
        }
        .text_desc{
            font-size: 12px;
            font-weight: normal;
            color: #999;
        }
    </style>
</head>
<body>
<!--头部导航栏——公共部分-->
<div th:insert="~{footer :: titles}"></div>
<div class="container-fluid" style="margin: 30px;background-color: white">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12" >
            <h3><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>发现</h3>
            <hr>
            <div class="media" th:each="list:${PageList.articleDTOS}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${list.user.avatar_url}" >
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${list.title}"></h4>
                    <h4 class="media-heading" th:text="${list.getDescription()}"></h4>
                    <span class="text_desc">
                        <span th:text="${list.getComment_count()}"></span> 个回复 •
                        <span th:text="${list.getView_count()}"></span> 次浏览 •
                        <span th:text="${list.getLike_count()}"></span>个点赞
                        <span th:text="${#dates.format(list.getGmt_create(),'yyyy-MM-dd HH:mm:ss')}"></span>
                    </span>
                </div>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li th:if="${PageList.showFirstPage}">
                        <a href="/" th:href="@{/(page=1)}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li th:if="${PageList.showPrevious}">
                        <a href="/" th:href="@{/(page=${PageList.currentPage-1})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>
                    <li  th:each="page:${PageList.pages}"  th:class="${PageList.currentPage==page}?'active':''"><a href="/" th:href="@{/(page=${page})}" th:text="${page}"></a></li>
                    <li th:if="${PageList.showNext}">
                        <a href="/" th:href="@{/(page=${PageList.currentPage+1})}" aria-label="Previous">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>
                    <li th:if="${PageList.showEnd}">
                        <a href="/" th:href="@{/(page=${PageList.totalpage})}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" >
            <h3>热门话题</h3>
        </div>
    </div>
</div>

</body>
<!--jq必须放在bootstrap前加载-->
<script src="js/jquery-2.1.1.min.js"></script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
</html>